body {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    background-color: #EEE;
    border: 1px solid #EEE;
    border-radius: 1em;
    font-family: Sans-Serif;
}

input {
    width: 70%;
    margin-top: 0.25em;
}

#reset-button {
    position: fixed;
    width: 100px;
    height: 40px;
    right: 0;
    bottom: 0;
    border: 1px solid gray;
    border-radius: 0.5em;
    margin: 1em;
}

#stat-button,
#calc-button,
#dot-button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 1px solid #eee;
    margin: 1em 0;
    background-color: #DDD;
}

#stat-button:hover,
#calc-button:hover,
#dot-button:hover {
    background-color: #CCC;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    margin-bottom: 1em;
    flex: 0 0 49%;
}

.button {
    text-align: center;
}

.reminder {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
}

.is-hidden {
    display: none;
}